.box{

    width:80px;
    height:90px;
    
    /* font-family: Microsoft JhengHei;
     font-size: 48px  */


}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: -16px;
    background-color: yellow;
    margin-bottom:50px;
}