<mat-nav-list>
  <a mat-list-item >
  <h1><u><span class="nav-caption">Meet the Team</span></u></h1>
</a>
    <a mat-list-item >
        <mat-icon>perm_phone_msg</mat-icon>
      <span class="nav-caption">Beng Tiong Tang</span>
    </a>
    <a mat-list-item >
        <mat-icon>perm_phone_msg</mat-icon>
      <span class="nav-caption">Niraj Kumar Jha</span>
    </a>
    <a mat-list-item >
        <mat-icon>perm_phone_msg</mat-icon>
      <span class="nav-caption">Siddharth Pandey</span>
    </a>
    <a mat-list-item >
        <mat-icon>perm_phone_msg</mat-icon>
      <span class="nav-caption">Jatin Suri</span>
    </a>
    <a mat-list-item >
        <mat-icon>perm_phone_msg</mat-icon>
      <span class="nav-caption">Parasamani Jain</span>
    </a>
    <a mat-list-item >
        <mat-icon>perm_phone_msg</mat-icon>
      <span class="nav-caption">Saurabh Nilegaonkar</span>
    </a>
    <a mat-list-item >
        <mat-icon>perm_phone_msg</mat-icon>
      <span class="nav-caption">Bhawana Sharma</span>
    </a>
    <a mat-list-item >
        <mat-icon>perm_phone_msg</mat-icon>
      <span class="nav-caption">Vimlesh Jain</span>
    </a>
    
  </mat-nav-list>
  